@import "./variables.scss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@300;400;700&display=swap');

body {
    background: url('../images/Fondo2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    font-family: 'Inter', sans-serif;
}

.btn-primary {
    background: #FFFFFF;
    border-radius: 10px;
    border-color: transparent;
    color: $primary-color;
    padding: 18px;
    font-size: 20px;
    font-weight: 600;
    width: 80%;
    position: relative;

    &::before {
        content: "";
        background: linear-gradient(125.06deg, #0400FF -2.31%, #FF3D00 97.12%);
        position: absolute;
        height: 50px;
        width: 100%;
        z-index: -1;
        left: 0;
        filter: blur(13px);
    }
    
    &:hover {
        background: #aaaaaa;
    }
}

.mb-6 {
    margin-bottom: ($spacer * 4) !important;
}

.mt-6 {
    margin-top: ($spacer * 4) !important;
}

.ms-6 {
    margin-left: ($spacer * 4) !important;
}
.ms-7 {
    margin-left: ($spacer * 5) !important;
}
.mt-n1 {
    margin-top: -5rem !important;
  }
.mt-n2 {
    margin-top: -4rem !important;
}